
\.project

\.pydevproject

*.pyc
*.bak
*.cproject

ImageQuizzer/__pycache__/

ImageQuizzer/ImageQuizzer\.templateOrig

\.idea/
/.metadata/

ImageQuizzer/Testing/Python/__pycache__/

ImageQuizzer/.vs/
ImageQuizzer/out/
ImageQuizzer/Testing/Python/out/

ImageQuizzerShutdown.bat

ImageQuizzer/Resources/ColorFiles/QuizzerROIColorTable.txt

ImageQuizzer/Inputs/Config
ImageQuizzer/Inputs/Scripts
ImageQuizzer/Inputs/Images
ImageQuizzer/Inputs/MasterQuiz

ImageQuizzer/Outputs

# do not ignore
!ImageQuizzer.xsd
!smtp_config_template.txt

