
\.project

\.pydevproject

*.pyc

ImageQuizzer/__pycache__/

ImageQuizzer/ImageQuizzer\.templateOrig

QuizProgress\.JPG

\.idea/
/.metadata/

ImageQuizzer/Testing/Python/__pycache__/

ImageQuizzer/Users/

ImageQuizzer/ImageQuizzerData/Users/

ImageQuizzer/ImageQuizzerData/SlicerDICOMDatabase/
