
\.project

\.pydevproject

*.pyc

ImageQuizzer/__pycache__/

ImageQuizzer/ImageQuizzer\.templateOrig

QuizProgress\.JPG

\.idea/
/.metadata/

ImageQuizzer/Testing/Python/__pycache__/

ImageQuizzer/Users/

ImageQuizzer/ImageQuizzerData/Users/

ImageQuizzer/ImageQuizzerData/SlicerDICOMDatabase/
*.cproject
ImageQuizzer/.vs/
ImageQuizzer/out/
ImageQuizzer/Testing/Python/out/
ImageQuizzerShutdown.bat
ImageQuizzer/Resources/ColorFiles/QuizzerROIColorTable.txt

ImageQuizzer/Resources/Config/smtp_config.txt
ImageQuizzer/ImageQuizzerData/
